.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  box-shadow: 16px 15px 7px -6px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 16px 15px 7px -6px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 16px 15px 7px -6px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
}
.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
